body{
    background: URL('../IMAGES/Tree.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
img{
    border-radius: 15px;
    width:  200px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.modalImage{
    width:  200px;
    height: 300px;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.info{
    color: Black;
}
#hideAll {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */
 }

 .familyImages{
    float: left;
    width: 33.33%;
    padding: 5px;
    background-color: #FFFFFF66;
 }
 .picture{
     background: none;
     border: none;
 }